[submodule "arduino/OpenDevice"]
	path = arduino/OpenDevice
	url = https://github.com/OpenDevice/opendevice-lib-arduino
[submodule "arduino/UIPEthernet"]
	path = arduino/UIPEthernet
	url = https://github.com/OpenDevice/arduino_uip
